
.form {
    max-width: 110rem;
    margin: 3rem auto;
    background-color: #faf9f9;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
    height: 51rem;
}

.header {
    height: 6rem;
    background-color: #fff;
    border-bottom: 1px solid #777;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

#main{

}