
<div id="mainSec">
    <div id="Contain">
        <div id="buttons__ToAdd">
            <div id="button__Part-1">
                <button id="btn__cs">
                    Customer Service
                </button>
                <button id="btn__pd">
                    Product Development
                </button>
            </div>
            <div id="button__Part-2">
                <button id="btn__Fn">
                    Finance
                </button>
                <button id="btn__sale">
                    Sales
                </button>
            </div>
            <div id="button__Part-3">
                <button id="btn__hr">
                    Human Resources
                </button>
                <button id="btn__source">
                    Sourcing
                </button>
            </div>
            <div id="button__Part-4">
                <button id="btn__mtn">
                    Marketing
                </button>
                <button id="btn__sc">
                    Supply Chain
                </button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/Js/nom.js"></script>


